@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400;700&display=swap');

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Red Hat Text', sans-serif;
}

::-webkit-scrollbar {
    width: 0;
}

.scroll-bar {
    position: fixed;
    right: 0;
    width: 20px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    margin-top: 60px;
}
  
  .scroll {
    position: relative;
    width: 10px;
    height: 400px;
    background: rgba(255, 255, 255, .8);
    border-radius: 50px;
    margin-bottom: 100px;
}
  
  .interieur {
    position: absolute;
    top: 0;
    width: 6px;
    height: 20%;
    background-color: #7b002d;
    border-radius: 50px;
    margin: 2px 0 0 2px;
    animation: scroll linear;
    animation-timeline: scroll();
}

@keyframes scroll {
    from {
        top: 0;
    }
    to {
        top: calc(100% - 20% - 4px);
    }
}


#main-header {
    background: black;
}

header {
    position: fixed;
    width: 100%;
    height: 220px;
    transition: all 0.3s ease;
    z-index: 1000;
    background-color: rgb(202, 202, 202);
    background: none;
}

.header-scrolled {
    height: 70px;
    border-bottom: 1px solid white;
    background: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 85%;
    padding: 0 5%;
    box-sizing: border-box;
    height: 100%;
    transition: all 0.3s ease;
}

.header-scrolled .navbar {
    width: 1000px;
    margin: auto;
}

.nav-item {
    margin: 0 15px; 
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 550;
    transition: all 0.3s ease;
}

.nav-item:hover {
    transition-duration: 0.3s;
    color: #7b002d; 
}

.logo {
    width: 200px;
    transition: 0.3s ease;
}

.header-scrolled .logo {
    display: none;
}

.container {
    text-align: left;
    color: #fff;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.first {
    background-image: url(image/vin.webp);
    height: 180vh;
    margin-top: 200px;
}

h3 {
    width: 1200px;
    font-weight: 700;
    font-size: 1.5rem;
}

h4 {
    font-size: 1.2rem;
}

p {
    width: 1200px;
    line-height: 1.5;
    padding: 1em;
}

.blank,
.other {
    width: 100%;
    height: 1vh;
    background: #fff;
}

.second {
    background-image:url(image/depot.webp);
    height: 120vh;
}

.third {
    background-image:url(image/fournisseur.webp);
    height: 100vh;
}


.wrapper {
    width: 500px;
    background: rgba(0, 0, 0, .4);
    border: 2px solid rgba(255, 255 ,255, .2);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
}

.wrapper h1 {
    text-align: center;
    font-size: 30px;
}

.wrapper .input-box {
    position: relative;
    width: 86%;
    height: 10px;
    margin: 60px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(250, 250 ,250, .6);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: #c2c2c2; 
    font-weight: bold;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.wrapper .btn {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}